<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= fa_icon "commenting-o", text: "Chat"  %>
      </div>
      <div class="panel-body" id="chat-body">
        <ul class="chat">
          <% @messages.each do |message| %>
          <%= render :partial =>"message",locals:{:message => message,:user => current_user} %>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer">
        <form class="new_message" >
          <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
          <input name="user_id" type="hidden" value="<%= current_user.id %>">
          <textarea name="content" class="form-control"></textarea>
          <span class="input-group-btn">
           <input  type="submit" class="btn btn-warning btn-sm" id= "btn-chat" value="Send">
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
var chat = $('.panel-body');
chat.scrollTop(chat.prop("scrollHeight"));
</script>