<div class="col-md-12">
  <h2 class="text-center"> Frien List </h2>
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Email </th>
        <th> Unread </th>
        <th> Option </th>
      </tr>
    </thead>
    <tbody id="friend-list">
      <% @friends.each do |friend| %>
      <%= render :partial=>"friend",locals:{:friend =>friend,:user=>current_user} %>
      <% end %>
    </tbody>
  </table>
</div>